.burgerhouse {
    background: url(./assets/houseback.png);
    display: flex;
    max-width: 1326px;
    height: 520px;
    margin: auto;
    margin-top: 14p;
    margin-bottom: 65px;
    color: #ffffff;
}

.burgerhouse img {
    display: flex;
    position: absolute;
    justify-content: center;
    
}

.burgerhouse .left {
    margin-left: 42px;
    margin-top: 85px;
    margin-bottom: 30px;
    width: 855px;
    height: 414px;
}

.burgerhouse .left a {

}

.burgerhouse .left p {
    padding-top: 140px;
    width: 512px;
    height: 88px;
    font-size: 17px;
    font-family:  'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 25px;
}

.burgerhouse .left div {
    padding-top: 258px ;
    padding-bottom: 32px;
    width: 250px;
    height: 15px;
    font-size: 17px;
    font-family:  'Bebas Neue', cursive;
}

.burgerhouse .right {
    height: 267px;
    width: 392px;
    padding-top: 237px;
    padding-right: 27px;
    padding-bottom: 20px;
    font-size: 21px;
    color: #ffffff;
    font-family:  'Bebas Neue', cursive;
    /* font-weight: 700; */
}

.burgerhouse .right li {
    display: flex;
    align-items: center;
    padding-bottom: 29px;
    
}

.burgerhouse .right span {
   padding-left: 66px;
 
}
.burgerhouse .right .nuorodos {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-top: 134px;
}
.burgerhouse .right .nuorodos  li{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    position: row;
    margin-left: 45px;
    

}