.events {
    height: 493px;
    width: 1295px;
    filter: drop-shadow(18.656px 24.758px 21.5px rgba(0,0,0,0.17));
    background: #ffffff;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}

.events .left-side {
    margin-left: 54px;
    margin-top: 66px;
    margin-bottom: 60px;

}

.events .left-side h3 {
    font-size: 29px;
    letter-spacing: 2px;
    color: #3d3d3d;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    text-align: left;
    margin-bottom: 14px;
}

.events .left-side h2 {
    font-size: 42px;
    color: #3d2514;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.events .left-side p {
    width: 531px;
    height: 173px;
    font-size: 21px;
    color: #3d3d3d;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 33px;
    margin-bottom: 60px;
}

.events .left-side ul {
    flex: 0 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.events .left-side li {
    margin-left: 0;
    margin-right: 8px;
    

}

.events .right-side {
    display: flex;
    justify-content: center;
}

.events .right-side img {
    max-width: 659px;
    max-height: 440px;
    margin: auto;
    margin-right: 25px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* 
.events li {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: white;
}

.events li:first-of-type {
        background-color: #ffc045;
}

.events li:hover {
    border: 1px solid red;
    background-color: #ffc045;
} */
