/* font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Bebas Neue', cursive;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 60px 56px;
    
}
.logo {
    height: 58px;
}
.express-container {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    justify-content: flex-end;
}
.express-container img {
    margin-right: 8px;
}

.express-container div, .right-side nav a {
    color:#3d2514;
    font-weight: 700;
}
.express-container div {
    font-size:16px;
    font-family: 'Montserrat', sans-serif;    
    font-weight: bold;
}
.right-side nav a {
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    margin: 0 26px
}

.right-side nav a:hover {
    color: aliceblue;
    font-weight: 600 ;
}

.right-side nav a:last-child {
    margin-right: 0;
}
.right-side nav a:first-child {
    margin-left: 0;
}



/* a {
    text-decoration: underline;
} */
