.headings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landing {
    background:url(./assets/background.png);
    display: flex;
    justify-content:space-between;
    margin-top: -193px;
    padding: 213px 56px 78px;
}
.landing {
    color:#3d2514;
}
.dashed {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    border: 1px dashed #3d2514;
    padding: 6px 18px;
    margin-top: 75px;

}

.landing h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 114px;
    text-shadow: 4px 4.5px 0 #fee8bc;
    padding-top: 24px;
    padding-bottom: 12px;

}

.landing h4 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 56px;
    text-shadow: 4px 4.5px 0 #fee8bc;
    padding-top: 12px;
    padding-bottom: 12px;
}
.burger {
    position: relative;
    
}

.circle {
    position: absolute;
    left:0;
    bottom: 0;
    font-family: 'Bebas Neue', cursive;
    background: #bf2222;
    border-radius: 50%;
    width: 174px;
    height: 174px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed white;
    border-radius: 50%;
    width:151px;
    height: 151px;
    color: white;
    flex-wrap: wrap;
    padding: 12px;
}

.price-top span:first-child {
    font-size: 58px;
}

.price-top span:last-child {
    font-size:22px ;
}
 .price div:last-child {
    font-size: 36px;
    letter-spacing:10px;
    margin-right: -11px;
 }
 