@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,700;1,100;1,500&display=swap');
@import './theme';
@import './utility';
@import './Header/header';


// font-family: 'Alfa Slab One', cursive;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Roboto', sans-serif;
$desktop: 1440px;
$tablet: 768px;
$mobile: 375px;

$text-color: #1f373d;
$primari: #ffcc01;
$secondary:#919eb1;
$third: #96bece;
$cube-background: #f6f5f4;

$text-size: 13px;

$border-radius: 5px;
$border-color: #1f373d;
// _____THEME______________________________________________________________________

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1170px;
    color: $text-color;
}






// _____Utility___________________________________________________________________________

.body {
    max-width: 1148px;
    margin: auto;
}

.logo {
    font-size: 25px;
    font-weight: 600;
}

@mixin flex-layout ($horizontal:center, $vertical:center) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}

// ______HEADER_____________________________________________________________________


.header {
    @include flex-layout(space-between, center);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 18px;
    padding-right: 28px;
    margin:auto;  
}

.header__navigation-main {
    @include flex-layout (flex-end, center);
    font-size: 13px;
    
    .header__navigation-menu {
       
    @media (max-width:$desktop) {
        &:hover {
            .header__navigation-menu {
                @include flex-layout;
            }
            .header__navigation-links {
                @include flex-layout(center,center);
                flex-direction: column;
            }
        }
    }
    
        .header__burger-menu {
            position: relative;
            width: 36px;
            height: 36px;
            margin-left: 42px;
            margin-right: 10px;
        
        
            @media (min-width:$desktop) {
                display: none; 
            }
        }
        .header__navigation-links {
            display: none;
            position: absolute;
            z-index: 1;
            border: 2px solid $text-color;
            border-radius: 5%;
            background-color: $primari;
            
            @media (min-width:$desktop) {
                @include flex-layout(flex-start, center);
                position: relative;
                white-space: nowrap;
                border:none;
                background-color: white;
                font-weight: 400;
            }
           
        }
       

        .header__navigation-link {
            @include flex-layout;
            width: 100%;
            font-size: $text-size;
            color: $text-color;
            font-weight: 600;
            padding: 16px 16px 14px;
            
            &:hover {
                border-bottom: 1px dotted $border-color;
            }
        }
    }

        .border__getting-start-wrapper {
            @include flex-layout (flex-end, center);
            margin-left: 30px;
            flex-wrap: nowrap;
            order: -1;
            
            @media (min-width:$desktop) {
                order:0;
            }

            @media (max-width:$mobile) {
                display: none;
            }
            .header__getting-started-button {
                background: $primari;
                border-radius: $border-radius;
                padding: 12px 20px 14px;
                margin-left: 24px;
                white-space: nowrap;
            
            
            }
        }
}

//  _______Section search_________________________________________________

.search {
    position: relative;
    @include flex-layout (flex-end, flex-end);
}

.search__box {
    position: absolute;
    @include flex-layout (flex-start, flex-start);
    flex-direction: column;
    top: 0;
    left: 0;
    width: 290px;
    height: 132px;

    .search__heading {
        font-size: 36px;
        letter-spacing: -2px;
        padding-bottom: 20px;
    }

    @media (min-width: $mobile) {
        .search__heading {
            font-size: 62px;
            padding-bottom: 60px;
            width: 576px;
        }

    }

    .search__locations {
        @include flex-layout(flex-start, center);
        margin-left: 30px;
        position: relative;

        input {
            position: relative;
            width: 200px;
            height: 60px;
            padding: 18px 32px 17px;
            font-size: 15px;
            color: $secondary;
            border: none;
            border-top-left-radius: 5%;
            border-bottom-left-radius: 5%;

            @media (min-width:$desktop) {
                width: 260px;
            }
        }
        
        img {
            position: absolute;
            pointer-events: none;
            z-index: 1;
            padding-left: 5px;
        }

        button {
            height: 60px;
            background-color: $primari;
            border: none;
            width: 80px;
            border-top-right-radius: 5%;
            border-bottom-right-radius: 5%;

            &:hover {
                font-weight: bold;
            }
        }
    }
}




.search__blue-box {
    @include flex-layout (flex-end, flex-end);
    height: 300px;
    width: 80%;
    background: $third;

    @media (min-width:$desktop) {
        height: 400px;
    }


    .search__contacts {
        @include flex-layout (flex-start, flex-start);
        background-color: $primari;
        flex-direction: column;
        padding: 10px 10px;
        font-size: 15px;
    }

    @media (min-width:$mobile) {
        .search__contacts {
            flex-direction: row;
            max-width: auto;

            span {
                padding-left: 10px;
                padding-right: 10px;

            }
        }
    }

    .search__contact {
        @include flex-layout();
        flex-direction: row;
    }

    img {
        height: 25px;
        width: 20px;
        border-right: 5px;
    }

    span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 16px;
        padding: 5px;
    }

}


.search__scroll-down {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 14px;
    height: 250px;
    align-items: flex-end;

    .scroll-down {
        height: 112px;
        width: 14px;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        // transform-origin: bottom;
        animation-name: scroll-down;
        animation-timing-function: linear;
    }
    // .scroll-down {
    //     animation-name: scroll-down;
    //     animation-timing-function: linear;
    // }
    @keyframes scroll-down {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-50px); }
        100% { transform: translateY(0); }
    }
}

// _________Section About__________________________________________________________

.about {
    @include flex-layout(space-between, center);
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
    height: 654px;
    margin:auto;
    padding-top: 144px;
    padding-bottom: 76px;

    

    .about__left {
        width: 538px;
        padding-top: 12px;

        .about__heading{
            padding-bottom: 68px;
            width: 306px;
            font-size: 40px;
            letter-spacing: -1px;
            font-weight: 600;
            line-height: 50px;
        }
        p {
            padding-bottom: 42px;
            font-size: 13px;
            letter-spacing: 0px;
            font-weight: 500;
            line-height: 30px;
        }
    }

    .about__right{
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        grid-gap: 30px;
        justify-content: center;
        align-content: center;
        width: 500px;
        height: 500px;

        .about__cube {
            @include flex-layout;
            flex-direction:column;
            background-color: $cube-background;

            div {
                font-size: 40px;
                color: $primari;
                letter-spacing: -1;
                font-weight: 600;
                padding-bottom: 22px;
            }
            span {
                font-size: 14px;
                font-weight: 600;
            }
        }

    }
    @media (max-width:$tablet){
        .about__heading {
            
        }
    }
}
