* {
    box-sizing: border;
}


.parent {
    border: 1px solid black;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.block {
    background: red;
    /* width: 150px; */
    /* height: 150px; */
    padding: 20px;
    margin: auto;
    border: 10px solid black;
}

.container {
    background: blue;
    padding: 20px;
}

.inline {
    background: blue;
    /* width: 50px; neveik */
    /* height: 50px;  neveiks */
    margin-left: 10px;
    
}

.inline-block {
    display: inline-block;
    background: yellow;
    width: 150px;
    height: 150px;
    padding: 10px;
    
}

.flex {
    display: flex;
    background: green;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    height: 300px;
}