
<style>
div {
    width: 300px;
    height: 50px;
}

.zalias {
    background: linear-gradient(to right, green, white);
    width: 400px;
}

#raudonas {
    background: linear-gradient(to right, red, white);
    width: 500px;
}

.geltonas {
    background: linear-gradient(to right, yellow, white);

}
</style>