:root {
    --background: blue;
    --padding-small: 16px 18px;
    --padding-big: 19px 22px;
    --font-big: "roboto", san-serif;
    --brand-shadow: 0px 0px 6px 8px #fa5;
    --margin-sm: 50px 50px;
}

body {
    /* background: var(--background);
    box-shadow: var(--brand-shadow); */
}

.shadow {
    width: 60px;
    height: 60px;
    border: 3px dotted rgb(0, 255, 98);
    box-shadow: var(--brand-shadow);
    background-color: var(--background);
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 15px;
}

.f-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-s-c {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}