.grandparent{

}

.parent {
    display: inline;
    margin: 36px;
    border: 1px solid brown;
    vertical-align: middle;
    text-align: center;
}

span {
    display: none;
    background: blue;
}

.block {
    font-size: 20px;
    background: red;
    padding: 12px;
    margin-bottom: 12px;
    line-height: 25px;
}